:root {
  --bg-base: #0f111a;
  --bg-surface: #1e212b;

  --color-green: #00e599;
  --color-gold: #ffd700;
  --color-blue: #0040ff;
  --color-red: #ff4d4d;
  --color-purple: #8b5cf6;
  --color-orange: #ffa500;
  --color-pink: #ffc0cb;
  --color-brown: #a52a2a;
  --color-gray: #808080;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-transparent: transparent;
  --color-border: #e0e0e0;

  --text-base: #e3e3e3;
  --text-muted: #8b92a5;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-base);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@stylex;
